<div class="w3-sidebar w3-light-white w3-bar-block">
    <div class="sidebar ">
        <div class="outer-box">
            <div class=inner-container><i class="flaticon-worldwide"></i>

            </div>
        </div>
        <div class="outer-box">
            <div class=inner-container><i class="flaticon-interface "></i>
                <div class="font-style">Overview</div>
            </div>
        </div>
        <div class="outer-box">
            <div class=inner-container><i class="flaticon-ui "></i>
                <div class="font-style">Connect</div>
            </div>
        </div>
        <div class="outer-box">
            <div class=inner-container><i class="flaticon-interface-1 "></i>
                <div class="font-style">Schedule</div>
            </div>
        </div>
        <div class="outer-box">
            <div class=inner-container><i class="flaticon-technology "></i>
                <div class="font-style">Curate</div>
            </div>
        </div>
        <div class="outer-box">
            <div class=inner-container><i class="flaticon-users"></i>
                <div class="font-style">Collobate</div>
            </div>
        </div>
        <div class="outer-box">
            <div class=inner-container><i class="flaticon-graphical"></i>
                <div class="font-style">Analize</div>
            </div>
        </div>
        <div class="outer-box">
            <div class=inner-container><i class="flaticon-interface "></i>
                <div class="font-style">Settings </div>
            </div>
        </div>
    </div>