<div id="small-container">

    <div id="left">
        Pulse
        <div class="social">
            <i class="flaticon-facebook"></i>
            <i class="flaticon-twitter"></i>
            <i class="flaticon-linkedin"></i>
            <i class="flaticon-shapes-and-symbols"></i>
        </div>
    </div>

    <div id="middle">
        Messages
        <div class="social">
            <i class="flaticon-facebook"></i>
            <i class="flaticon-twitter"></i>
            <i class="flaticon-linkedin"></i>
            <i class="flaticon-shapes-and-symbols"></i>
        </div>
    </div>

    <div id="right">
        Live Feed
        <div class="social">
            <i class="flaticon-facebook"></i>
            <i class="flaticon-twitter"></i>
            <i class="flaticon-linkedin"></i>
            <i class="flaticon-shapes-and-symbols"></i>
        </div>

    </div>

</div>

<div id="container">

    <div id="leftThing">
        <div class="wrapper">
            <div class="box1">


            </div>


            <div class="box2">Two </div>
            <div class="box3">Three</div>
            <div class="box4">four </div>
        </div>
    </div>

    <div id="content">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

        <div class="wrapper-message">

            <div class="box5">


            </div>
            <div class="box6">
                <i class="flaticon-facebook"></i>
            </div>
            <div class="box7">
                <i class="flaticon-facebook"></i>
            </div>
            <div class="box8">
                <i class="flaticon-facebook"></i>
            </div>
        </div>
    </div>

    <div id="rightThing">
        Comment
    </div>
</div>